@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<table>
    <tr>
        <td>Uri:</td>
        <td><input type="text" id="uri" /></td>
    </tr>
    <tr>
        <td>User Name:</td>
        <td><input type="text" id="user" /></td>
    </tr>
    <tr>
        <td>Token:</td>
        <td><input type="text" id="token" /></td>
    </tr>
</table>

<input type="button" value="Go" id="goButton" />

<div id="grid">
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/GitHub.js"></script>


